{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true,
    "worker": true,
    "jest": true
  },
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "jsx": true,
      "destructuring": true,
      "restParams": true,
      "spread": true
    }
  },
  "rules": {
    "array-bracket-spacing": "warn",
    "array-callback-return": "warn",
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "arrow-spacing": [
      "warn",
      {
        "after": true,
        "before": true
      }
    ],
    "camelcase": "off",
    "class-methods-use-this": "warn",
    "comma-dangle": [
      "warn",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "ignore"
      }
    ],
    "consistent-return": "off",
    "function-paren-newline": "off",
    "global-require": "off",
    "guard-for-in": "off",
    "implicit-arrow-linebreak": "off",
    "import/extensions": "warn",
    "import/first": "off",
    "import/newline-after-import": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "warn",
    "import/no-named-as-default-member": "warn",
    "import/no-useless-path-segments": "warn",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "indent": "warn",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "lines-between-class-members": "off",
    "max-len": [
      "off",
      {
        "code": 98,
        "comments": 120,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true,
        "tabWidth": 2
      }
    ],
    "new-parens": "warn",
    "no-bitwise": "off",
    "no-case-declarations": "warn",
    "no-console": [
      "warn",
      {
        "allow": ["error"]
      }
    ],
    "no-continue": "off",
    "no-else-return": "off",
    "no-empty": "warn",
    "no-extra-boolean-cast": "off",
    "no-lonely-if": "warn",
    "no-mixed-operators": "off",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-assign": "off",
    "no-multiple-empty-lines": "warn",
    "no-multi-spaces": "warn",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-prototype-builtins": "off",
    "no-restricted-globals": "off",
    "no-restricted-properties": "off",
    "no-restricted-syntax": "warn",
    "no-return-assign": "off",
    "no-return-await": "warn",
    "no-shadow": "warn",
    "no-tabs": "warn",
    "no-trailing-spaces": "warn",
    "no-undef-init": "off",
    "no-underscore-dangle": "off",
    "no-unneeded-ternary": "off",
    "no-unreachable": "warn",
    "no-unused-vars": ["warn", {
      "ignoreRestSiblings": true
    }],
    "no-useless-escape": "warn",
    "no-useless-return": "warn",
    "no-warning-comments": "off",
    "object-curly-newline": [
      "off",
      {
        "ObjectExpression": { "multiline": true, "minProperties": 3 },
        "ObjectPattern": { "multiline": true, "minProperties": 3 },
        "ImportDeclaration": { "multiline": true, "minProperties": 3 },
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
      }
    ],
    "object-curly-spacing": "off",
    "object-property-newline": "off",
    "operator-assignment": "off",
    "operator-linebreak": "off",
    "padded-blocks": "off",
    "prefer-const": "warn",
    "prefer-destructuring": "off",
    "prefer-promise-reject-errors": "warn",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "quotes": "off",
    "react/button-has-type": "off",
    "react/default-props-match-prop-types": "warn",
    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-closing-tag-location": "warn",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-curly-spacing": "warn",
    "react/jsx-filename-extension": "off",
    "react/jsx-indent": "off",
    "react/jsx-max-props-per-line": "warn",
    "react/jsx-no-bind": ["off"],
    "react/jsx-no-duplicate-props": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-tag-spacing": "off",
    "react/jsx-wrap-multilines": "off",
    "react/no-access-state-in-setstate": "warn",
    "react/no-array-index-key": "warn",
    "react/no-children-prop": "off",
    "react/no-string-refs": "warn",
    "react/jsx-no-target-blank": "warn",
    "react/no-unescaped-entities": "warn",
    "react/no-unused-prop-types": "warn",
    "react/no-unused-state": "warn",
    "react/no-will-update-set-state": "warn",
    "react/destructuring-assignment": "off",
    "react/prefer-destructuring-assignment": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "warn",
    "react/require-default-props": "warn",
    "react/self-closing-comp": "off",
    "react/sort-comp": "off",
    "react/style-prop-object": "off",
    "semi": "warn",
    "space-before-function-paren": "off",
    "spaced-comment": "off",
    "space-in-parens": "warn"
  }
}
